:root {
  background: #ece9e3;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 80%;
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-linecap: round;
  transform: rotate(-90deg);
}

circle {
  fill: white;
}

.marks {
  transform: translate(20px, 20px);
  stroke-width: 0.2;
}

.seconds {
  transform: translate(20px, 20px) rotate(calc(0 * 6deg));
  stroke-width: 0.3;
}

.minute {
  transform: translate(20px, 20px) rotate(calc(0 * 6deg));
  stroke-width: 0.6;
}

.hour {
  transform: translate(20px, 20px) rotate(calc(0 * 30deg));
  stroke-width: 0.8;
}

.pin {
  stroke-width: 0.2;
}

.marks > line:nth-child(1) {
  transform: rotate(30deg);
}

.marks > line:nth-child(2) {
  transform: rotate(calc(2 * 30deg));
}

.marks > line:nth-child(3) {
  transform: rotate(calc(3 * 30deg));
}

.marks > line:nth-child(4) {
  transform: rotate(calc(4 * 30deg));
}
.marks > line:nth-child(5) {
  transform: rotate(calc(5 * 30deg));
}

.marks > line:nth-child(6) {
  transform: rotate(calc(6 * 30deg));
}

.marks > line:nth-child(7) {
  transform: rotate(calc(7 * 30deg));
}

.marks > line:nth-child(8) {
  transform: rotate(calc(8 * 30deg));
}

.marks > line:nth-child(9) {
  transform: rotate(calc(9 * 30deg));
}

.marks > line:nth-child(10) {
  transform: rotate(calc(10 * 30deg));
}

.marks > line:nth-child(11) {
  transform: rotate(calc(11 * 30deg));
}

.marks > line:nth-child(12) {
  transform: rotate(calc(12 * 30deg));
}
